# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.env
.venv
env/
venv/

# Model weights
*.pth
*.pt
*.ckpt

# Weights & Biases
wandb/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
